@font-face{
    font-family: "inter";
    src: local('Inter-VariableFont_slnt.wght.ttf'), url('../font/Inter-VariableFont_slnt_wght.ttf');
}

.App{
    position: relative;
    width: 1048px;
    height: 1240px;
    display: -moz-grid-line;
    justify-content: space-between;
    background: #E9EBEE;
}

.card{
    /* Auto Layout */
    float: left;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    position:relative;
    width: 240px;
    height: 508px;
    top: 32px;
    left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;

    /* grayscale/0 */
    background: #ffffff;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    border:thin;
    border-radius: 8px;
}

.image{
    position: relative;
    width: 240px;
    height: 240px;
    left: 0px;
    top: 0px;
    bottom: 32px;
}

.elipse{
    position: absolute;
    right: 0%;
    width: 48px;
    height: 48px;
    background: url('../imgbas/Ellipse.png');
}

.elipse2{
    position: absolute;
    right: 0%;
    width: 48px;
    height: 48px;
    background: url('../imgbas/Ellipse2.png');
}

.elipse:hover{
    background: url('../imgbas/Ellipse1.png');
} 

.elipse:hover .vetor{
    background: url('../imgbas/Vector1.png');
}

.elipse:active{
    background: url('../imgbas/Ellipse2.png');
    
} 

.elipse:active .vetor{
    background: url('../imgbas/Vector2.png');
}

.elipse2:hover{
    background: url('../imgbas/Ellipse3.png');
} 

.elipse2:hover .vetor{
    background: url('../imgbas/Vector3.png');
}

.vetor{
    position: absolute;
    width: 26px;
    height: 23px;
    left: 25%;
    right: 25%;
    top: 31.25%;
    bottom: 25%;
    background: url('../imgbas/Vector.png');
}

.vetor2{
    position: absolute;
    width: 26px;
    height: 23px;
    left: 25%;
    right: 25%;
    top: 31.25%;
    bottom: 25%;
    background: url('../imgbas/Vector2.png');
}

.descr{
    position: relative;
    width: 240px;
    height: 60px;
    left: 0px;
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    /* grayscale/900 */
    color: #1C1C1C;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}

.fullPr{
    position: static;
    width: 240px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.005em;
    text-decoration-line: line-through;

    /* grayscale/600 */
    color: #B5B5B6;

/* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}

.lowPr{
    position: static;
    width: 240px;
    height: 24px;
    left: 0px;
    top: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height, or 120% */
    letter-spacing: -0.005em;
    
    /* red/500 */
    color: #DA4B4F;
    
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}

.condPar{
    /*  */
    position: static;
    width: 240px;
    height: 16px;
    left: 0px;
    top: 52px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: -0.005em;

    /* grayscale/700 */
    color: #848587;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 4px 0px;

}

.button{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #FFFFFF;

    position: static;
    width: 240px;
    height: 48px;
    left: 32px;
    top: 488px;

    /* green/400 */
    background: #40B25C;
    border-radius: 5px;
    border-width: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

.button2{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #000000;

    position: static;
    width: 240px;
    height: 48px;
    left: 32px;
    top: 488px;

    /* green/400 */
    background: #A3F9B9;
    border-radius: 5px;
    border-width: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

.button:hover{
    background:#1C6C3E;
}

.button:focus{
    background:#A3F9B9;
    color: #000000;
} 


.txtBtn{
    position: static;
    width: 91px;
    height: 24px;
    left: 74.5px;
    top: 12px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */
    letter-spacing: -0.005em;
    text-transform: uppercase;
    
    /* grayscale/0 */
    color: #FFFFFF;
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}


