vti_encoding:SR|utf8-nl
vti_author:SR|JRS-DEL02\\ProjetoFapesp
vti_modifiedby:SR|JRS-DEL02\\ProjetoFapesp
vti_timelastmodified:TR|03 Dec 2021 15:23:43 -0000
vti_timecreated:TR|03 Dec 2021 15:10:25 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|03 Dec 2021 15:22:14 -0000
vti_cacheddtm:TX|03 Dec 2021 15:23:43 -0000
vti_filesize:IR|18345
vti_cachedlinkinfo:VX|S|image.png S|image.png S|image.png S|image.png
vti_cachedsvcrellinks:VX|NSUS|css/image.png NSUS|css/image.png NSUS|css/image.png NSUS|css/image.png
