vti_encoding:SR|utf8-nl
vti_author:SR|JRS-DEL02\\ProjetoFapesp
vti_modifiedby:SR|JRS-DEL02\\ProjetoFapesp
vti_timelastmodified:TR|03 Dec 2021 17:21:44 -0000
vti_timecreated:TR|03 Dec 2021 15:23:56 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|index.htm box.htm
vti_nexttolasttimemodified:TW|03 Dec 2021 17:21:29 -0000
vti_cacheddtm:TX|03 Dec 2021 17:21:44 -0000
vti_filesize:IR|900
vti_cachedlinkinfo:VX|S|../img/image.png
vti_cachedsvcrellinks:VX|FSUS|img/image.png
